* {
    box-sizing: border-box;
}

:root {
    --secondary-color: #83a17d;
    --heading-color: #152427;
    --background-color: #143c3c;
    --text-color: #7d8188;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ============Common========= */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 173px;
    height: 57px;
    padding: 0 10px;
    background-color: var(--background-color);
    border-radius: 40px;

    color: #fff;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;

    transition: ease 0.7s;
}

.btn:hover {
    color: var(--background-color);
    background-color: #fff;
    border: 2px solid var(--background-color);
}

.heading {
    color: var(--heading-color);
    font-weight: 600;
}

.heading.lv1 {
    font-family: Public Sans;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.23; /* 123.81% */
}

.heading.lv3 {
    font-size: 2.2rem;
    line-height: 1;
}

.section-label {
    display: flex;
    align-items: center;
    color: var(--heading-color);
    font-weight: 500;
}

.section-label::before {
    content: "";
    margin-right: 21px;
    width: 25px;
    height: 1px;
    background-color: var(--heading-color);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ===========HEADER============ */

.header {
    padding-top: 16px;
    height: 100vh;
}

.header-wrapper {
    position: relative;
}

/* ==============HEADER TOP================ */
.header-top {
    position: relative;
    display: flex;
    padding: 12px 0;
    align-items: center;
}

.navbar {
    margin-left: auto;
}

.header__list {
    display: flex;
    margin-right: 72px;
}

.header__item__link {
    position: relative;
    padding: 8px 19px;
    color: #575d5e;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

.header__item__link:hover {
    text-shadow: 0 0 1px;
}

.header__item__link.active::after {
    position: absolute;
    bottom: -17px;
    left: 19px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background-color: var(--background-color);
}

.header-top::after {
    position: absolute;
    bottom: 4px;
    content: "";
    display: inline-block;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
}

/* ==============HEADER INFO================ */
.header-hero {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.header-text {
    margin-top: 43px;
    width: 35%;
}

.heading.lv1 {
    max-width: 368px;
}

.header__desc {
    margin-top: 20px;
    color: #575d5e;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.header-info__actions {
    display: flex;
    column-gap: 36px;
    margin-top: 42px;
}

.header__button {
    display: flex;
    align-items: center;
    gap: 15px;
    border: none;
    background-color: transparent;

    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}

.half-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    border-radius: 100rem;
    border: 4px solid var(--background-color);
    border-right-color: transparent;
    border-bottom-color: transparent;

    transform: rotate(-45deg);
}

.play-video {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 43px;
    border-radius: 50%;

    color: white;
    background-color: var(--secondary-color);

    transition: ease 0.2s;
    rotate: 45deg;
}

.play-video:hover {
    color: var(--secondary-color);
    background-color: white;
    border: 4px solid var(--secondary-color);
}

/* =============HEADER RIGHT========== */
.header-images {
    position: relative;
    display: flex;
    gap: 20px;
    width: 57%;
    height: 543px;
}

.header-img-item {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    z-index: 1;
}

.header-img-item:nth-child(2) {
    margin-top: auto;
}

.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-images::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: inline-block;

    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: 0;
}

.header-icon-1 {
    position: absolute;
    top: 110px;
    left: 297px;
    z-index: 2;
}

.header-icon-2 {
    position: absolute;
    top: 119px;
    left: 255px;
    z-index: 3;
}

.header-icon-3 {
    position: absolute;
    top: 410px;
    right: 45px;
    z-index: 2;
}

.header-icon-4 {
    position: absolute;
    top: 644px;
    right: 6px;
    z-index: 3;
}

/* ============BRANDS============ */
.brands-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 77px 121px;
    background-color: #e2eddf;
    height: 200px;
    border-radius: 100.5px;
}

.agworld {
    display: flex;
    align-items: center;
    gap: 11px;
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
}

/* ============SERVICES============ */
.services {
    margin-top: 106px;
}

.services-row {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.services-row__heading {
    max-width: 520px;
}

.heading-line::after {
    position: relative;
    bottom: 5px;
    margin-left: 16px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: var(--heading-color);
}

.services-row__buttons {
    display: flex;
    gap: 17px;
    margin-left: 422px;
}

.services-row__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #e2eddf;
    color: var(--heading-color);
    border: none;
}

.services-row__button:last-child svg {
    rotate: 180deg;
}

.services-row__button:hover {
    color: #fff;
    background-color: var(--heading-color);
    cursor: pointer;
}

.services-list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Ta chia thanh 3 cot <=> Cac services-item trong Services List sẽ được chia width rồi */
    column-gap: 16px;
}

.services-item {
    border-radius: 20px 20px 0px 0px;
    transition: ease 0.2s;
    overflow: hidden;
}

.services-thumb {
    max-width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.services-item__body {
    padding: 24px 18px 23px;
}

.services-item__desc {
    margin-top: 18px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

.services-item:hover {
    border-radius: 20px;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    /* transform: translateY(-20px); */
}

.services-item:hover .services-thumb {
    transform: scale(1.1);
}

/*=============ABOUT============  */
.about {
    margin-top: 150px;
}

.about-wrapper {
    display: flex;
    justify-content: space-between;
}

.about-images {
    position: relative;
    margin-top: 13px;
    display: flex;
    gap: 21px;
    width: 52%;
    height: 557px;
}

.about-images::after {
    content: "";
    display: inline-block;
}

.about__item {
    width: 286px;
    height: 480px;
    border-radius: 210px;
    overflow: hidden;
    z-index: 1;
}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 210px;
}

.about__item:first-child {
    margin-top: auto;
}

.about-images::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: inline-block;

    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: 0;
}

.about__stats {
    position: absolute;
    right: -9px;
    bottom: 8px;
    flex-shrink: 0;
    width: 144px;
    height: 144px;
    padding: 19px 23px 11px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    z-index: 3;
}

.about__stats__title,
.about__percent,
.loading,
.team {
    font-size: 1rem;
    color: var(--heading-color);
    font-weight: 500;
}

.about__stats__title {
    font-weight: 600;
}

.about__stats__desc {
    margin-top: 6px;
    color: #575d5e;
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 400;
}

.about__percent {
    position: relative;
    margin-top: 15px;
    font-family: Public Sans;
}

.about__percent::before,
.about__percent::after {
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    content: "";
    border-radius: 10px;
}

.about__percent::before {
    width: 40px;
    background-color: var(--secondary-color);
    z-index: 1;
}

.about__percent::after {
    width: 96px;
    background-color: #eaeaea;
    z-index: 0;
}

.loading {
    margin-top: 8px;
    font-family: Public Sans;
    text-align: right;
}

.about__stats__icon {
    display: block;
    margin-top: 3px;
}

.about__stats__row {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 4px;
}

.about__stats__members {
    display: flex;
}

.about__avt {
    width: 16px;
    height: 16px;
    border-radius: 100rem;
    object-fit: cover;
    border: 1px solid #fff;
}

.about__avt + .about__avt {
    margin-left: -6px;
}

.about-info {
    width: 43%;
}

.about-info__heading {
    margin-top: 20px;
}

.about-info__desc,
.about-info__row__desc {
    margin-top: 11px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    color: var(--text-color);
}

.about-info__group {
    margin-top: 36px;
}

.about-info__row {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 13px;
    border-bottom: 1.5px solid var(--secondary-color);
}

.about-info__row + .about-info__row {
    margin-top: 38px;
}

.about-info__row__desc {
    font-size: 1.4rem;
    line-height: 1.7;
}

/* ===========PROCESS============= */
.process {
    margin-top: 115px;
}

.process__heading {
    position: relative;
    margin-top: 20px;
    max-width: 477px;
}

.process__heading::after {
    position: absolute;
    bottom: 18px;
    margin-left: 16px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: var(--heading-color);
}

.process-steps {
    margin-top: 81px;
}

.process-item {
    position: relative;
    display: flex;
    height: 185px;
    align-items: center;
    padding: 0 41px 0 30px;
    border-radius: 33px;
    transition: ease 0.3s;
}

.process-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #e2eddf;
}

.process__big-number {
    margin-right: 50px;
    color: var(--background-color);
    font-size: 7.2rem;
    font-weight: 600;
}

.process-item__desc {
    max-width: 572px;
    margin-left: auto;
    color: var(--text-color);
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.learn-more {
    margin-top: 22px;
    display: inline-block;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: underline;
    visibility: hidden;
    transition: 0.3s;
}

.process-item__img {
    position: absolute;
    right: 92px;
    bottom: 0;
    width: 450px;
    height: 444px;
    display: none;
}

.process-item:hover {
    background-color: #e2eddf;
}

.process-item:hover::after {
    background-color: transparent;
}

.process-item:hover .learn-more {
    visibility: visible;
}

.process-item:hover .process-item__desc {
    visibility: hidden;
}

.process-item:hover .process-item__img {
    display: block;
}

/* =============FEATURES============ */
.features {
    margin-top: 148px;
    padding: 116px 0 63px;
    background-color: var(--background-color);
}

.features-wrapper {
    position: relative;
}

.features-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features-row__heading {
    max-width: 457px;
    color: #e7f9f9;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.features-row__heading::after {
    background-color: var(--secondary-color);
}

.features-row__desc {
    max-width: 570px;
    color: #6a8383;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.features-row__link {
    display: flex;
    gap: 26px;
    align-items: center;

    margin-top: 13px;
    color: #fff;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
}

.features-row-icon {
    color: #80a07b;
    transition: 0.25s;
}

.features-row__link:hover {
    text-decoration: underline;
}

.features-row__link:hover .features-row-icon {
    color: #fff;
}

.features-media {
    position: relative;
    margin-top: 65px;
    border-radius: 22px;
    overflow: hidden;
}

.features-video {
    width: 100%;
    height: 544px;
    border-radius: 22px;
    object-fit: cover;
}

.features-media__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    border: none;
    background-color: #000000;
}

.features-media__icon:hover {
    opacity: 0.8;
}

.features-icon-1,
.features-icon-2 {
    position: absolute;
}

.features-icon-1 {
    top: 3px;
    right: -46px;
}

.features-icon-2 {
    top: 100px;
    right: -49px;
}

/* ==========SHARE=========== */
.share {
    margin-top: 140px;
}

.share__heading,
.share__desc {
    text-align: center;
    margin: 0 auto;
}

.share__heading {
    max-width: 520px;
}

.share__desc {
    margin-top: 20px;
    max-width: 547px;
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.share-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
    margin-top: 103px;
}

.share-item {
    border-radius: 160px;
    border: 1.5px solid #cecece;
    text-align: center;
    transition: ease 0.5s;
}

.share-item:hover {
    border-color: transparent;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    transform: translateY(-60px);
}

.share-item:first-child {
    padding: 60px 27px 74px 37px;
}

.share-item:nth-child(2) {
    padding: 60px 41px;
}

.share-item:nth-child(3) {
    padding: 60px 40px;
}

.share-item__title.heading.lv3 {
    margin-top: 23px;
    font-size: 20px;
}

.share-item__desc {
    margin-top: 12px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* ===============BLOG============== */
.blog {
    margin-top: 184px;
}

.blog-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-row__heading {
    margin-top: 10px;
    max-width: 570px;
}

.blog-row__desc {
    max-width: 409px;
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 90px;
}

.blog-item {
    position: relative;
    border-radius: 40px 40px 20px 20px;
    height: 521px;
    transition: ease 0.5s;
}

.blog-item__thumb {
    display: block;
    width: 100%;
    height: 317px;
    border-radius: 40px 40px 0px 0px;
    object-fit: cover;
}

.blog-item__body {
    position: relative;
    padding: 26px 10px 0px;
}

.blog-item:nth-child(2) .blog-item__body {
    padding: 26px 15px 0px;
}

.blog-item__body::after {
    position: absolute;
    top: 163px;
    left: 10px;
    content: "";
    display: inline-block;
    width: calc(100% - 20px);
    height: 1px;
    background-color: #c4c4c4;
}

.body-item__label {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 107px;
    height: 26px;
    border-radius: 20px;
    background-color: #e2eddf;

    color: #000;
    font-size: 1rem;
    font-weight: 500;

    transition: ease 0.3s;
}

.blog-item__title {
    margin-top: 13px;
    color: var(--background-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.blog-item__date {
    position: absolute;
    bottom: 12px;
    right: 33px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.blog-item:hover {
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
    transform: scale(1.1);
}

.blog-item:hover .body-item__label {
    color: #e2eddf;
    background-color: var(--background-color);
}

/* ============FOOTER============ */
.footer {
    margin-top: 102px;
    background-color: var(--background-color);
    padding-bottom: 50px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-contact {
    margin-top: 72px;
    width: 37%;
    /* max-width: 411px; */
}

.footer-contact__heading.heading.lv2 {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
}

.footer-contact__form {
    position: relative;
}

.footer-contact__email {
    flex-grow: 1;
    position: relative;
    padding: 25px 63px 35px 0;

    max-width: 354px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #6a8383;

    color: white;
    font-size: 2.2rem;
    font-weight: 500;
}

.footer-contact__email::placeholder {
    color: #6a8383;
    font-size: 2.2rem;
    font-weight: 600;
}

.footer-contact__submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 56px;
    width: 56px;
    height: 56px;
    border-radius: 100rem;
    border: none;
    background-color: transparent;
}

.footer-contact__form__error {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    color: red;
    visibility: hidden;
}

.footer-contact__form:has(:invalid:not(:placeholder-shown))
    .footer-contact__form__error {
    visibility: visible;
}

.footer-contact__socials {
    margin-top: 47px;
    display: flex;
    column-gap: 22px;
}

.footer-contact__socials__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 52px;
    height: 52px;
    border-radius: 100rem;
    border: 1px solid #265252;
    color: #fff;
    transition: ease 0.3s;
}

.footer-contact__socials__icon:hover {
    background-color: #a75325;
    border-color: #a75325;
}

.footer-list {
    display: flex;
    column-gap: 50px;
    margin-top: 94px;
}

.footer-column__title {
    color: #fff;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer__sub-list {
    margin-top: 22px;
}

.footer__sub-list__item {
    margin-top: 22px;
}

.footer__sub-list__link {
    display: inline-block;
    color: #6a8383;
    font-family: Public Sans;
    font-weight: 500;
    transition: ease 0.3s;
}

.footer__sub-list__link:hover {
    text-decoration: underline;
    color: white;
}

.footer__separate {
    margin-top: 45px;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        14deg,
        #143c3c 0%,
        #295a5a 53.48%,
        rgba(38, 82, 82, 0) 100%
    );
    /* background-color: red; */
}
