* {
    box-sizing: border-box;
}

:root {
    --secondary-color: #83a17d;
    --heading-color: #152427;
    --background-color: #143c3c;
    --text-color: #7d8188;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ============Common========= */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 173px;
    height: 57px;
    padding: 0 10px;
    background-color: var(--background-color);
    border-radius: 40px;

    color: #fff;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;

    transition: ease 0.7s;
}

.btn:hover {
    color: var(--background-color);
    background-color: #fff;
    border: 2px solid var(--background-color);
}

.heading {
    color: var(--heading-color);
    font-family: Poppins;
    font-weight: 600;
}

.heading.lv1 {
    font-family: Public Sans;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.23; /* 123.81% */
}

.heading.lv3 {
    font-size: 2.2rem;
    line-height: 1;
}

.section-label {
    display: flex;
    align-items: center;
    color: var(--heading-color);
    font-weight: 500;
}

.section-label::before {
    content: "";
    margin-right: 21px;
    width: 25px;
    height: 1px;
    background-color: var(--heading-color);
}

/* ===========HEADER============ */

.header {
    padding-top: 16px;
    height: 100vh;
}

.header-wrapper {
    position: relative;
}

/* ==============HEADER TOP================ */
.header-top {
    position: relative;
    display: flex;
    padding: 12px 0;
    align-items: center;
}

.navbar {
    margin-left: auto;
}

.header__list {
    display: flex;
    margin-right: 72px;
}

.header__item__link {
    position: relative;
    padding: 8px 19px;
    color: #575d5e;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

.header__item__link:hover {
    text-shadow: 0 0 1px;
}

.header__item__link.active::after {
    position: absolute;
    bottom: -17px;
    left: 19px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background-color: var(--background-color);
}

.header-top::after {
    position: absolute;
    bottom: 4px;
    content: "";
    display: inline-block;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
}

/* ==============HEADER INFO================ */
.header-hero {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.header-text {
    margin-top: 43px;
    width: 35%;
}

.heading.lv1 {
    max-width: 368px;
}

.header__desc {
    margin-top: 20px;
    color: #575d5e;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.header-info__actions {
    display: flex;
    column-gap: 36px;
    margin-top: 42px;
}

.header__button {
    display: flex;
    align-items: center;
    gap: 15px;
    border: none;
    background-color: transparent;

    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}

.half-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    border-radius: 100rem;
    border: 4px solid var(--background-color);
    border-right-color: transparent;
    border-bottom-color: transparent;

    transform: rotate(-45deg);
}

.play-video {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 43px;
    border-radius: 50%;

    color: white;
    background-color: #83a17d;

    transition: ease 0.2s;
    rotate: 45deg;
}

.play-video:hover {
    color: #83a17d;
    background-color: white;
    border: 4px solid #83a17d;
}

/* =============HEADER RIGHT========== */
.header-images {
    position: relative;
    display: flex;
    gap: 20px;
    width: 57%;
    height: 543px;
}

.header-img-item {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    z-index: 1;
}

.header-img-item:nth-child(2) {
    margin-top: auto;
}

.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-images::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: inline-block;

    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: 0;
}

.header-icon-1 {
    position: absolute;
    top: 110px;
    left: 297px;
    z-index: 2;
}

.header-icon-2 {
    position: absolute;
    top: 119px;
    left: 255px;
    z-index: 3;
}

.header-icon-3 {
    position: absolute;
    top: 410px;
    right: 45px;
    z-index: 2;
}

.header-icon-4 {
    position: absolute;
    top: 644px;
    right: 6px;
    z-index: 3;
}

/* ============BRANDS============ */
.brands-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 77px 121px;
    background-color: #e2eddf;
    height: 200px;
    border-radius: 100.5px;
}

.agworld {
    display: flex;
    align-items: center;
    gap: 11px;
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
}

/* ============SERVICES============ */
.services {
    margin-top: 106px;
}

.services-row {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.services-row__heading {
    max-width: 520px;
}

.heading-line::after {
    position: relative;
    bottom: 5px;
    margin-left: 16px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: var(--heading-color);
}

.services-row__buttons {
    display: flex;
    gap: 17px;
    margin-left: 422px;
}

.services-row__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #e2eddf;
    color: var(--heading-color);
    border: none;
}

.services-row__button:last-child svg {
    rotate: 180deg;
}

.services-row__button:hover {
    color: #fff;
    background-color: var(--heading-color);
    cursor: pointer;
}

.services-list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Ta chia thanh 3 cot <=> Cac services-item trong Services List sẽ được chia width rồi */
    column-gap: 16px;
}

.services-item {
    border-radius: 20px 20px 0px 0px;
    transition: ease 0.2s;
    overflow: hidden;
}

.services-thumb {
    max-width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.services-item__body {
    padding: 24px 18px 23px;
}

.services-item__desc {
    margin-top: 18px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

.services-item:hover {
    border-radius: 20px;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    /* transform: translateY(-20px); */
}

.services-item:hover .services-thumb {
    transform: scale(1.1);
}

/*=============ABOUT============  */
.about {
    margin-top: 150px;
}

.about-wrapper {
    display: flex;
    justify-content: space-between;
}

.about-images {
    position: relative;
    margin-top: 13px;
    display: flex;
    gap: 21px;
    width: 52%;
    height: 557px;
}

.about-images::after {
    content: "";
    display: inline-block;
}

.about__item {
    width: 286px;
    height: 480px;
    border-radius: 210px;
    overflow: hidden;
    z-index: 1;
}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 210px;
}

.about__item:first-child {
    margin-top: auto;
}

.about-images::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: inline-block;

    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: 0;
}

.about__stats {
    position: absolute;
    right: -9px;
    bottom: 8px;
    flex-shrink: 0;
    width: 144px;
    height: 144px;
    padding: 19px 23px 11px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    z-index: 3;
}

.about__stats__title,
.about__percent,
.loading,
.team {
    font-size: 1rem;
    color: var(--heading-color);
    font-weight: 500;
}

.about__stats__title {
    font-weight: 600;
}

.about__stats__desc {
    margin-top: 6px;
    color: #575d5e;
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 400;
}

.about__percent {
    position: relative;
    margin-top: 15px;
    font-family: Public Sans;
}

.about__percent::before,
.about__percent::after {
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    content: "";
    border-radius: 10px;
}

.about__percent::before {
    width: 40px;
    background-color: #83a17d;
    z-index: 1;
}

.about__percent::after {
    width: 96px;
    background-color: #eaeaea;
    z-index: 0;
}

.loading {
    margin-top: 8px;
    font-family: Public Sans;
    text-align: right;
}

.about__stats__icon {
    display: block;
    margin-top: 3px;
}

.about__stats__row {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 4px;
}

.about__stats__members {
    display: flex;
}

.about__avt {
    width: 16px;
    height: 16px;
    border-radius: 100rem;
    object-fit: cover;
    border: 1px solid #fff;
}

.about__avt + .about__avt {
    margin-left: -6px;
}

.about-info {
    width: 43%;
}

.about-info__heading {
    margin-top: 20px;
}

.about-info__desc,
.about-info__row__desc {
    margin-top: 11px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    color: var(--text-color);
}

.about-info__group {
    margin-top: 36px;
}

.about-info__row {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 13px;
    border-bottom: 1.5px solid #83a17d;
}

.about-info__row + .about-info__row {
    margin-top: 38px;
}

.about-info__row__desc {
    font-size: 1.4rem;
    line-height: 1.7;
}

/* ===========PROCESS============= */
.process {
    margin-top: 115px;
}

.process__heading {
    position: relative;
    margin-top: 20px;
    max-width: 477px;
}

.process__heading::after {
    position: absolute;
    bottom: 18px;
    margin-left: 16px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: var(--heading-color);
}

.process-steps {
    margin-top: 81px;
}

.process-item {
    position: relative;
    display: flex;
    height: 185px;
    align-items: center;
    padding: 0 41px 0 30px;
    border-radius: 33px;
    transition: ease 0.3s;
}

.process-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #e2eddf;
}

.process__big-number {
    margin-right: 50px;
    color: var(--background-color);
    font-size: 7.2rem;
    font-weight: 600;
}

.process-item__desc {
    max-width: 572px;
    margin-left: auto;
    color: #7d8188;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.learn-more {
    margin-top: 22px;
    display: inline-block;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: underline;
    visibility: hidden;
    transition: 0.3s;
}

.process-item__img {
    position: absolute;
    right: 92px;
    bottom: 0;
    width: 450px;
    height: 444px;
    display: none;
}

.process-item:hover {
    background-color: #e2eddf;
}

.process-item:hover::after{
    background-color: transparent;
}

.process-item:hover .learn-more {
    visibility: visible;
}

.process-item:hover .process-item__desc {
    visibility: hidden;
}

.process-item:hover .process-item__img {
    display: block;
}